In [3]:
if (!require(dplyr)){
    install.packages("dplyr")
    require(dplyr)
}

Loading required package: dplyr

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
sample_defect_backlog <- function(defect_backlog_path, number_of_samples, drop_path){
    defect_backlog <- read.table(file=defect_backlog_path, sep=",",
                   header=TRUE,stringsAsFactors=TRUE)

    random_weeks_numbers <- sample(10:length(defect_backlog$number), number_of_samples)
    random_weeks = defect_backlog %>% filter(number %in% random_weeks_numbers)
    write.table(random_weeks, file = drop_path, sep=",")
    random_weeks
}

In [5]:
sample_defect_backlog('/Users/paulina/magisterka/eclipse/converted_data/platform-backlog_30_12_12-4_1_16.csv', 20,
                      '/Users/paulina/magisterka/eclipse/samples/samples_30_12_12-4_1_16.csv')

   X                     number from_date
1  2013-04-22/2013-04-28  16    2013-04-22 00:00:00.000000000
2  2013-07-01/2013-07-07  26    2013-07-01 00:00:00.000000000
3  2013-07-08/2013-07-14  27    2013-07-08 00:00:00.000000000
4  2013-08-19/2013-08-25  33    2013-08-19 00:00:00.000000000
5  2013-11-04/2013-11-10  44    2013-11-04 00:00:00.000000000
6  2013-12-23/2013-12-29  51    2013-12-23 00:00:00.000000000
7  2014-03-10/2014-03-16  62    2014-03-10 00:00:00.000000000
8  2014-03-31/2014-04-06  65    2014-03-31 00:00:00.000000000
9  2014-05-05/2014-05-11  70    2014-05-05 00:00:00.000000000
10 2014-08-04/2014-08-10  83    2014-08-04 00:00:00.000000000
11 2014-08-25/2014-08-31  86    2014-08-25 00:00:00.000000000
12 2014-09-01/2014-09-07  87    2014-09-01 00:00:00.000000000
13 2014-10-27/2014-11-02  95    2014-10-27 00:00:00.000000000
14 2014-11-17/2014-11-23  98    2014-11-17 00:00:00.000000000
15 2014-12-08/2014-12-14 101    2014-12-08 00:00:00.000000000
16 2015-03-16/2015-03-22 115    2015-03-16 00:00:00.000000000
17 2015-05-04/2015-05-10 122    2015-05-04 00:00:00.000000000
18 2015-09-07/2015-09-13 140    2015-09-07 00:00:00.000000000
19 2015-10-05/2015-10-11 144    2015-10-05 00:00:00.000000000
20 2015-11-02/2015-11-08 148    2015-11-02 00:00:00.000000000
   to_date                       backlog_all inflow_all outflow_all
1  2013-04-28 23:59:59.999999999  625        74          35
2  2013-07-07 23:59:59.999999999  721        54          25
3  2013-07-14 23:59:59.999999999  738        59          42
4  2013-08-25 23:59:59.999999999  878        58          43
5  2013-11-10 23:59:59.999999999  983        66          48
6  2013-12-29 23:59:59.999999999 1092        23           9
7  2014-03-16 23:59:59.999999999 1250        86          36
8  2014-04-06 23:59:59.999999999 1309        88          72
9  2014-05-11 23:59:59.999999999 1285        85          77
10 2014-08-10 23:59:59.999999999 1380        80          76
11 2014-08-31 23:59:59.999999999 1412        64          58
12 2014-09-07 23:59:59.999999999 1427        65          50
13 2014-11-02 23:59:59.999999999 1443        51          36
14 2014-11-23 23:59:59.999999999 1466        54          57
15 2014-12-14 23:59:59.999999999 1507        86          63
16 2015-03-22 23:59:59.999999999 1582        68         106
17 2015-05-10 23:59:59.999999999 1621        88          74
18 2015-09-13 23:59:59.999999999 1729        44          43
19 2015-10-11 23:59:59.999999999 1826        74          60
20 2015-11-08 23:59:59.999999999 1861        71          66
   backlog_normal inflow_normal outflow_normal backlog_major inflow_major
1   440           50            22              82           16
2   475           32            17             104            7
3   496           47            26             104            4
4   605           45            26             115            6
5   671           48            33             116            2
6   730           14             6             134            2
7   828           61            31             155            5
8   869           63            50             162            6
9   854           67            56             161            5
10  953           59            63             164            3
11  977           47            43             164            4
12  984           50            43             166            5
13 1008           36            24             167            4
14 1024           36            31             168            7
15 1055           65            53             171           12
16 1102           49            89             189            9
17 1135           67            56             189           12
18 1200           37            38             199            2
19 1275           54            41             199            4
20 1290           53            53             206            6
   outflow_major
1   5
2   3
3   4
4   7
5   7
6   1
7   1
8   6
9   6
10  1
11  5
12  3
13  5
14  8
15  6
16  4
17 11
18  1
19  5
20  6